<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.revature.Project1.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/LS</url-pattern>
  </servlet-mapping>
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.revature.Project1.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/RS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCAccounts</display-name>
    <servlet-name>ViewCAccounts</servlet-name>
    <servlet-class>com.revature.Project1.ViewCAccounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCAccounts</servlet-name>
    <url-pattern>/VA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeLogin</display-name>
    <servlet-name>employeeLogin</servlet-name>
    <servlet-class>com.revature.Project1.employeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeLogin</servlet-name>
    <url-pattern>/EL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateBankAccountServ</display-name>
    <servlet-name>CreateBankAccountServ</servlet-name>
    <servlet-class>com.revature.Project1.CreateBankAccountServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateBankAccountServ</servlet-name>
    <url-pattern>/CBA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositServ</display-name>
    <servlet-name>DepositServ</servlet-name>
    <servlet-class>com.revature.Project1.DepositServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServ</servlet-name>
    <url-pattern>/DS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withdrawServlet</display-name>
    <servlet-name>withdrawServlet</servlet-name>
    <servlet-class>com.revature.Project1.withdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdrawServlet</servlet-name>
    <url-pattern>/WS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transferServlet</display-name>
    <servlet-name>transferServlet</servlet-name>
    <servlet-class>com.revature.Project1.transferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transferServlet</servlet-name>
    <url-pattern>/TS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingServ</display-name>
    <servlet-name>ViewPendingServ</servlet-name>
    <servlet-class>com.revature.Project1.ViewPendingServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingServ</servlet-name>
    <url-pattern>/VP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewPreviousTransactionServ</display-name>
    <servlet-name>viewPreviousTransactionServ</servlet-name>
    <servlet-class>com.revature.Project1.viewPreviousTransactionServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPreviousTransactionServ</servlet-name>
    <url-pattern>/VPT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveTransfer</display-name>
    <servlet-name>ApproveTransfer</servlet-name>
    <servlet-class>com.revature.Project1.ApproveTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveTransfer</servlet-name>
    <url-pattern>/AT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAccountE</display-name>
    <servlet-name>ViewAccountE</servlet-name>
    <servlet-class>com.revature.Project1.ViewAccountE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAccountE</servlet-name>
    <url-pattern>/VE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTransactions</display-name>
    <servlet-name>ViewTransactions</servlet-name>
    <servlet-class>com.revature.Project1.ViewTransactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTransactions</servlet-name>
    <url-pattern>/VT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewPendingUser</display-name>
    <servlet-name>viewPendingUser</servlet-name>
    <servlet-class>com.revature.Project1.viewPendingUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPendingUser</servlet-name>
    <url-pattern>/PU</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveUser</display-name>
    <servlet-name>ApproveUser</servlet-name>
    <servlet-class>com.revature.Project1.ApproveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveUser</servlet-name>
    <url-pattern>/AU</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectUser</display-name>
    <servlet-name>RejectUser</servlet-name>
    <servlet-class>com.revature.Project1.RejectUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectUser</servlet-name>
    <url-pattern>/RU</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingBankAccount</display-name>
    <servlet-name>ViewPendingBankAccount</servlet-name>
    <servlet-class>com.revature.Project1.ViewPendingBankAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingBankAccount</servlet-name>
    <url-pattern>/PBA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveBank</display-name>
    <servlet-name>ApproveBank</servlet-name>
    <servlet-class>com.revature.Project1.ApproveBank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveBank</servlet-name>
    <url-pattern>/AB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectBank</display-name>
    <servlet-name>RejectBank</servlet-name>
    <servlet-class>com.revature.Project1.RejectBank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectBank</servlet-name>
    <url-pattern>/RB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectTransfer</display-name>
    <servlet-name>RejectTransfer</servlet-name>
    <servlet-class>com.revature.Project1.RejectTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectTransfer</servlet-name>
    <url-pattern>/RT</url-pattern>
  </servlet-mapping>
</web-app>